#panel {
  background-color: #0f0f0f;
  height: 44px;
}

.panel-button,
.clock,
.clock-display StIcon {
  border-radius: 16px;
  background-color: #29292a;
  border: 6px solid transparent;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.03);
}

.clock-display StIcon {
  padding: 8px;
  margin: 0;
}

.panel-button:active,
.panel-button:overview,
.panel-button:active .clock,
.panel-button:hover,
.panel-button:hover .clock {
  background-color: #2160ec;
  color: #ffffff;
}

/* clock fix */
.clock-display {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.clock {
  margin: 0 !important;
}
