#panel {
    height: 38px;
}

.panel-button,
.clock,
.clock-display StIcon {
    border-radius: 22px;
    background-color: #212123;
    border: 4px solid transparent;
    box-shadow: inset 0 0 0 1px transparent;
}

/* clock fix */
.clock-display {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.clock-display StIcon {
    padding: 8px;
    margin: 0;
}

.panel-button:active,
.panel-button:overview,
.panel-button:active .clock,
.panel-button:hover,
.panel-button:hover .clock {
    background-color: #2160ec;
}
