[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=1password
Comment=
Exec=1password
TryExec=1password
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=false
Icon=1password
