[Desktop Entry]
Name[bg]=Varia
Name[de]=Varia
Name[hi]=Varia
Name[it]=Varia
Name[nl]=Varia
Name[oc]=Varia
Name[pt_BR]=Varia
Name[ru]=Varia
Name[tr]=Varia
Name[zh_TW]=Varia
Name[nb]=Varia
Name[ja]=Varia
Name[es]=Varia
Name[zh_CN]=Varia
Name=Varia
Comment=Download files, videos and torrents
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=varia io.github.giantpinkrobots.varia
Icon=io.github.giantpinkrobots.varia
Terminal=false
Type=Application
Categories=Network
Keywords=varia;aria;download;manager;torrent;bittorrent;video;audio;media;ytdlp;YouTube;downloader
StartupNotify=true
X-Flatpak=io.github.giantpinkrobots.varia
